/* body {
  overflow: hidden;
} */

.container {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 93vh;
}

/* #projects {
  min-height: 100vh;
  max-height:max-content; 
} */